@tailwind base;
@tailwind components;
@tailwind utilities;

.text-container {
  min-width: 150px;
}

.active-element {
  background-color: #93c4fd;
  font-weight: 600;
  color: #3b83f6;
  border-radius: 6px;
}
